@import "variables";
@import "mixins";

.calendar__toolbar {
	color: #ffffff;
	border-radius: 20px;
	width: 100%;
	grid-template: 80px / 300px auto 300px;
	align-items: center;

	&--view {
		background: green;
	}
}