@import "variables";
	
footer {
	background: $footer-color;
	border-bottom: 20px solid $footer--border-color;
	height: 200px;
	text-align: center;
	display: grid;

	.copy {
		color: $footer--text-color;
		font-size: 0.9rem;
		margin: 10px 0;
		align-self: end;

		a {
			color: $header--text-color;
			cursor: pointer;
			display: inline-block;
			transition: color .2s ease-in-out;

			&:after {
				content: '';
				display: block;
				border-bottom: 1px solid $footer__anchor--hover-color;
				transform: scaleX(0);
				transition: transform 250ms ease-in-out;

			}

			&:hover {
				color: $footer__anchor--hover-color;
				&:after {
					transform: scaleX(1);
				}
			}
		}
	}
}