@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "colors";

/* * * * * * *
 * Functions *
 * * * * * * */
@function wiking-palette($palette, $base: 500, $darker: 700, $lighter: 300) {
	$base: map-get($palette, $base);
	$darker: map-get($palette, $darker);
	$lighter: map-get($palette, $lighter);
	$arr: (
		'base': $base,
		'lighter': $lighter,
		'darker': $darker
	);
	@return $arr;
}

@function wiking-color($color, $color-variation: null) {
	@if($color-variation != null) {
		@return map-get(map-get($wiking-theme, $color), $color-variation);
	} @else {
		@return map-get($wiking-theme, $color);
	}
}


/* * * * *
 * Theme *
 * * * * */
$wiking-theme: (
	primary: wiking-palette($blueGrey, 800, 900, 700),
	accent: wiking-palette($deepOrange),
	success: map-get($green, 700),
	warning: map-get($orange, 700),
	danger: map-get($red, 500),
	info: map-get($blue, 700)
);






///////////////////
// Global colors //
///////////////////
$success-color: wiking-color(success);
$warning-color: wiking-color(warning);
$danger-color: wiking-color(danger);
$info-color: wiking-color(info);

////////////////
// Navigation //
////////////////
$header-color: wiking-color(primary, darker);
$header__logo-color: lighten(wiking-color(primary, lighter), 30%);
$header__search-color: lighten($header-color, 5%);
$header__search-placeholder-color: lighten(wiking-color(primary, lighter), 15%);
$header__text-color: wiking-color(accent, base);

////////////
// Footer //
////////////
$footer-color: $header-color;
$footer__search-color: wiking-color(accent, darker);
$footer__text-color: $header__logo-color;
$footer__anchor-color: $header__text-color;
$footer__anchor--hover-color: darken($footer__anchor-color, 7%);

//////////////
// Calendar //
//////////////
// Toolbar
$calendar__sidebar-color: #1d1d1d;
$calendar__sidebar--border-color: #404040;

// week-view
$calendar__week--header-color: #2a2a2a;
$calendar__week--text-color: #ffffff;
//$calendar__week--events-color: wiking-color(primary, lighter);
$calendar__week--events-color: #404040;

$calendar__week--today-color: #ed1c24;
$calendar__week--weekend-color: wiking-color(danger);
// month-view







/* * * * * * * * * *
 * Font-variables  *
 * * * * * * * * * */
$font-size: 14px;
$font-family-body: "open sans";