<ng-template #loading>
	<div class="text-center">
		<i class="fa fa-spin fa-spinner fa-5x"></i>
		<br>
		Loading events...
	</div>
</ng-template>

<ng-template
	#monthTemplate
	let-day="day">

	<div class="cal-cell-header">
		<span class="cal-cell-day">
			{{ day.date | calendarDate:'monthViewDayNumber':locale }}
			{{ day.date | date:"EEEE" }}
		</span>
		<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
	</div>

	<!-- Displays events on the calendar-->
	<div class="cal-events" *ngIf="day.events.length > 0">
		<div style="display:inline-block;width:100%;line-height:normal"
		*ngFor="let event of day.events">
			<b>{{ event.show_title }}</b>
			{{ event.title }}
			S{{ event.season }}
			E{{ event.number }}
		</div>
	</div>
</ng-template>


<div class="calendar" *ngIf="events$ | async; else loading; let events">

	<div class="calendar__sidebar">
		<app-calendar-toolbar
			[(view)]=view
			(viewDateChange)="viewDateChangedHandler($event)"
			[(viewDate)]="viewDate">
		</app-calendar-toolbar>
	</div>

	<div class="calendar__main" [ngSwitch]="view">

		<mwl-calendar-month-view
			*ngSwitchCase="CalendarView.Month"
			[weekStartsOn]="1"
			[viewDate]="viewDate"
			[events]="events"
			[cellTemplate]="monthTemplate">
		</mwl-calendar-month-view>


		<app-calendar-week-view
			*ngSwitchCase="CalendarView.Week"
			[viewDate]="viewDate"
			[events]="events">
		</app-calendar-week-view>

	</div>
</div>
