@import "variables";
@import "mixins";

.calendar__toolbar {
	color: #ffffff;
	border-radius: 20px;
	width: 100%;
	display: grid;
	grid-template-rows: auto 30px 45px 30px;

	&::before {
		content: '';
		border-top: 1px solid #404040;
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 260px;
	}
	span {
		cursor: pointer;
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
	}

	&--change {
		background: wiking-old($grey, 700);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&--date {
		background: wiking-old($grey, 800);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
	}

	&--view {
		background: wiking-old($grey, 700);
		display: grid;
		grid-template-columns: 1fr 1fr;

		span.active {
			color: red;
		}
	}
}