/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/angular-calendar/css/angular-calendar.css"
@import "variables";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: $font-size;
    font-family: $font-family-body;
}

a {
    text-decoration: none;
}
    