/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/angular-calendar/css/angular-calendar.css"
@import "assets/angular-calendar";
@import "variables";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    background: $wiking-background;
    font-size: $font-size;
    font-family: $font-family-body;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-heading;
}

a {
    text-decoration: none;
}
    